<div *ngIf='step === 1'>
  <input #id [type]='pattern' (keydown)='keyDown($event, "doCheck")'
    required='' [placeholder]='hint' (input)='idEvt($event)'/>
  <button (click)='doCheck(id)'> {{ check }} </button>
</div>

<div *ngIf='step === 2'>
  <button (click)='doResend()'> {{ resend }} </button>
  <input #pass (keydown)='keyDown($event, "doEnter")'
    [type]='passMode' required='' [placeholder]='hintPass' (input)='passEvt($event)'/>
  <button (click)='doEnter(pass)'> {{ enter }} </button>
</div>
